{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="card">
    <div class="card-body">
        <center>
            <h4 class="card-title">Your Profile</h4>
        </center>
        <b>{{ user.last_name }} {{ user.first_name }} {{ user.profile.patronymic }}</b>
        <ul>
            <li>Username: {{ user.username }}</li>
            <li>Birth Date: {{ user.profile.birth_date }}</li>
        </ul>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <center>
            <h4 class="card-title">Возможности</h4>

            {% if perms.auth.delete_user %}
            <button type="submit" class="btn btn-success">Удалить пользователя</button>
            {% endif %}

            <h4 class="card-title">Разрешения</h4>

            {% if perms.accounts.can_drive %}
            <a>Может водить автомобиль</a><br>
            {% endif %}

            {% if perms.accounts.allowed_to_enterprise %}
            <a>Допускается на предприятие</a><br>
            {% endif %}
        </center>
    </div>
</div>
{% endblock %}
